<?php

// HTML Elements and tags
$L['html'] = array(
                    'title' => 'TIPUI Home Module TEST',
                    'meta'  => array(
                                    'description' => '',
                                    'keywords'    => '',
                                ),
					'head'  => array(
									'css' => array(
											//'css/Home.css',
											),
								),
                );

// header/top
include '_html_top.html';

// main content
echo '<b>' . $T['ClassName'] . ' TEST</b>';

// bottom
include '_html_bottom.html';
?>